<h2><%= @Project.name %></h2>

<% title(@Project.name, "Projects") %>

<% @title = "TextMate 2 - Projects - Ticketee" %>

<%= admins_only do %>
<%= link_to "Edit Project", edit_project_path(@Project) %>

<%= link_to "Delete Project", @Project, :method => :delete,
:confirm => "Are you sure you want to delete this project?" %>
<% end %>

<%= authorized?("create tickets".to_sym, @Project) do %>
	<%= link_to "New Ticket", new_project_ticket_path(@Project) %>
<% end %>

<%= form_tag search_project_tickets_path(@Project),
	:method => :get do %>
<%= label_tag "search" %>
<%= text_field_tag "search", params[:search] %>
<%= submit_tag "Search" %>
<% end %>

 
<ul id='tickets'>
	<% @tickets.each do |ticket| %>
<li>
	<%= render ticket.state if ticket.state %>
	<%= ticket.id %> - <%= link_to ticket.title, [@Project, ticket] %>
</li>
<% end %>
</ul>

